{% extends 'base/base.html'%} {% block title %} {{ title }} {% endblock %} {% block content%}
<!-- {% from "_macro.html" import render_field %} -->

<main class="form-signin">
    <form id="login-form" method="POST">
        <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>



        <div class="form-group">
            <!-- <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> -->
            {{ render_field(form.username, class='form-control',id='username') }}
        </div>

        <div class="form-group">
            <!-- <input type="password" class="form-control" id="floatingPassword" placeholder="Password"> -->
            {{ render_field(form.password, class='form-control',id='password') }}
        </div>

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="{{ url_for('create') }}">Create User</a>
            </div>
        </div>


    </form>
</main>

{% endblock %}